<ion-view view-title="Concerti">
  <ion-content>
    <h1>Concerti</h1>
    <div class="row">
      <div class="col col-50 musing_items" ng-repeat="concerto in concerti">
        <div class="musing_card">
			
			<a href="#/app/concerti/{{concerto.id}}"> 
            	<div class="data">
                <span class="block_span_big">{{concerto.dataEvento}}</span>
                {{concerto.oraEvento}}
                </div>
                <img ng-src="{{concerto.image}}" />
                <div class="musing_body">
                    <h3>{{concerto.title}}<span class="block_span_small grey_label">{{concerto.city}}</span></h3>
                    <div class="grey_label">Concerto <span class="dark_label bold ">{{concerto.typeOfevento}}</span></div>
                    <div class="grey_label">Biglietto <span class="dark_label bold">{{concerto.costo}}</span></div>
                </div>
                <div class="{{concerto.fase}} musing_footer">
                    <span class="block_span bold capitalize">{{concerto.fase}}</span>
                    Termina il 24/09/2016
                </div>
           </a>

        </div>
      	
       </div>
    </div>

	<!--
	<ion-list>
      <ion-item ng-repeat="concerto in concerti" href="#/app/concerti/{{concerto.id}}">
        {{concerto.title}}
      </ion-item>
    </ion-list>
    -->
  </ion-content>
</ion-view>
