/* Empty. Add your own CSS if you like */

.scroll-bar-v {right: 2px;}
.bar.bar-stable {border-color: transparent;background-color: #000;background-image:none; color: #FFF;}
.menu .bar-header {z-index: 11;background-color: #222;}
.bar.bar-stable .title,
.bar-stable .button.button-clear {color: #FFF; font-size:16px; text-transform:uppercase;}
.musing_row {margin-bottom:10px;}

.item-icon-left ion-spinner {float: left;margin-left: -3.2em;margin-right: 1em;margin-top: -0.2em; }
.spinner-royal svg {width: 28px;height: 28px;stroke: #fff;fill: #fff;}

.block_span,
.block_span_big,
.block_span_small{width:100%;display:block;font-size:14px;}
.block_span_big{font-size:28px;}
.block_span_small{font-size:12px;}
.bold{ font-weight:700;}
.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.grey_label{ color:#767676;}
.dark_label{color:black;}


/*  stile grid 2 colonne */

.musing_body,
.musing_footer{ display:block; padding:5px 10px;}

.musing_items{
	margin:0;
	padding:0;
}
.musing_items a{
	color:black;
	text-decoration:none;
}
.musing_items h1,
.musing_items h2,
.musing_items h3,
.musing_items h4,
.musing_items h5{
	margin:0;
	padding:0;
}
.musing_items .musing_card{
	margin:2%;
	width:96%;
	background:#ddd;
	position:relative;
}
.musing_items .musing_card a{
	display:block;
	padding:0;
}
.musing_items .musing_card .data{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,.8);
	padding:10px;
	color:white;
	font-size:14px;
}

.musing_items .musing_card .data .block_span_big{font-size:18px;}
.musing_items .musing_card img{
	width:100%;
	height:auto;
	margin: 0;
	padding:0;
}
.musing_items .musing_card h3{
	font-size:16px;
	line-height:18px;
	text-transform:uppercase;
}


/* fasi evento*/
.candidatura{
	background-color:#3e6493;
	color:white;
}
.scelta{
	background-color:#3fa035;
	color:white;
}
.ingaggio{
	background-color:#951d1c;
	color:white;
}
.promozione{
	background-color:#ff9a00;
}






